<header class="navbar navbar-expand-xl container pt-lg-7 mb-lg-3 my-2">
    <div class="container-lg header d-flex py-md-3 py-0 px-lg-7 px-md-4 px-0">
      <div class="d-flex align-items-center">
        <a class="navbar-brand me-7" href="#"><img src="/assets/images/logo.png" alt="logo" class="header-logo"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav w-100 d-flex align-items-center">
            <li class="nav-item dropdown position-static">
               <a class="nav-link dropdown-toggle text-gray-80 me-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                探索
               </a>
               <ul class="dropdown-menu px-3" aria-labelledby="navbarDropdown">
                  <li>
                    <p style="padding-bottom: 4px;">探索全部</p>
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="#">音樂</a></li>
                      <li><a class="dropdown-item" href="#">音樂</a></li>
                      <li><a class="dropdown-item" href="#">音樂</a></li>
                      <li><a class="dropdown-item" href="#">音樂</a></li>
                      <li><a class="dropdown-item" href="#">音樂</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
               </ul>
            </li>
            <li class="nav-item">                    
                <form class="position-relative">
                  <span class="material-symbols-outlined position-absolute start-0 top-50 translate-middle-y ms-1">
                    search
                    </span>
                  <input class="form-control py-4 ps-7" type="search" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="Search">
                  <button class="btn btn-primary-100 position-absolute end-0 top-50 translate-middle-y me-1" type="submit">搜尋</button>
                </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <ul class="list-unstyled d-flex navbar-nav align-items-lg-center flex-row">
          <li class="nav-item ms-auto">
            <a class="nav-link text-gray-80" aria-current="page" href="#"><span class="material-symbols-outlined align-text-bottom">
              notifications
              </span></a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link text-gray-80" href="#"><span class="material-symbols-outlined align-text-bottom">
              shopping_cart
              </span></a>
          </li>
          <li class="nav-item ms-3 d-none d-xl-block">
            <button class="btn btn-primary-100" type="submit">登入 / 註冊</button>
          </li>
        </ul>
        <button class="navbar-toggler ms-1 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
</header>