<header class="navbar navbar-expand-xl container pt-lg-7 mb-lg-3 my-2">
    <div class="container-lg header d-flex py-md-3 py-0 px-lg-7 px-md-4 px-0">
      <div class="d-flex align-items-center">
        <a class="navbar-brand me-7" href="#"><img src="/assets/images/logo.png" alt="logo" class="header-logo"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav w-100 d-flex align-items-center">
            <li class="nav-item dropdown position-static border-0">
               <a class="nav-link dropdown-toggle me-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                探索
               </a>
               <div class="dropdown-menu dropdown-w py-0 border-0" aria-labelledby="navbarDropdown">
                <div class="d-flex">
                  <ul class="list-unstyled dropdown-list-1 bg-light px-3 rounded-start border-end">
                    <li class="dropdown-item-title">探索全部</li>
                    <li><a class="dropdown-item" href="#">音樂</a></li>
                    <li><a class="dropdown-item" href="#">音樂</a></li>
                    <li><a class="dropdown-item" href="#">音樂</a></li>
                    <li><a class="dropdown-item" href="#">音樂</a></li>
                  </ul>

                  <ul class="list-unstyled dropdown-list-2 border-end">
                    <li class="dropdown-item-title">所有程式</a></li>
                    <li><a class="dropdown-item" href="#">音樂1</a></li>
                    <li><a class="dropdown-item" href="#">音樂1</a></li>
                    <li><a class="dropdown-item" href="#">音樂1</a></li>
                    <li><a class="dropdown-item" href="#">音樂1</a></li>
                  </ul>

                  <ul class="list-unstyled dropdown-list-3">
                    <li class="fw-semibold pb-3">熱門網頁前端課程</a></li>
                    <li><a href="#">
                      <div class="border-top pt-3">
                        <div class="d-flex pb-5">
                          <div class="position-relative me-1">
                            <img src="/assets/images/course-5.png" class="object-fit-cover rounded w-100" alt="course" style="width: 100px; height: 100px;">
                            <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-12 ms-12">
                              8 折
                              <span class="visually-hidden">unread messages</span>
                            </span>
                          </div>
                          <section>
                            <h6 class="text-black pb-3">小白也會！從零開始學習 Python 程式設計</h6>
                            <div class="d-flex justify-content-between pb-1 border-bottom">
                              <div class="d-flex align-items-center">
                                <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                                <p>Kelly Hsu</p>
                              </div>
                              <div class="text-end">
                                <p class="text-primary-100 fw-semibold">NT$ 2,480</p>
                                <p class="fs-9 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                              </div>
                            </div>
                            <div class="d-flex align-items-center py-1 w-100">
                              <p class="fs-8">已有 420 位同學加入</p>
                              <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto">
                                star
                                </span>
                                <p class="text-black">4.0<span class="text-gray-70 fs-9">(333)</span></p>
                            </div>
                          </section>

                        </div>
                      </div>
                    </a></li>
                    <li><a href="#">
                      <div class="border-top pt-3">
                        <div class="d-flex pb-5">
                          <div class="position-relative me-1">
                            <img src="/assets/images/course-5.png" class="object-fit-cover rounded w-100" alt="course" style="width: 100px; height: 100px;">
                            <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-12 ms-12">
                              8 折
                              <span class="visually-hidden">unread messages</span>
                            </span>
                          </div>
                          <section>
                            <h6 class="text-black pb-3">小白也會！從零開始學習 Python 程式設計</h6>
                            <div class="d-flex justify-content-between pb-1 border-bottom">
                              <div class="d-flex align-items-center">
                                <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                                <p>Kelly Hsu</p>
                              </div>
                              <div class="text-end">
                                <p class="text-secondary fw-semibold">已購買</p>
                                <p class="fs-9 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                              </div>
                            </div>
                            <div class="d-flex align-items-center py-1 w-100">
                              <p class="fs-8">已有 420 位同學加入</p>
                              <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto">
                                star
                                </span>
                                <p class="text-black">4.0<span class="text-gray-70 fs-9">(333)</span></p>
                            </div>
                          </section>

                        </div>
                      </div>
                    </a></li>
                    <li><a href="#">
                      <div class="border-top pt-3">
                        <div class="d-flex">
                          <div class="position-relative me-1">
                            <img src="/assets/images/course-5.png" class="object-fit-cover rounded w-100" alt="course" style="width: 100px; height: 100px;">
                            <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-12 ms-12">
                              8 折
                              <span class="visually-hidden">unread messages</span>
                            </span>
                          </div>
                          <section>
                            <h6 class="text-black pb-3">小白也會！從零開始學習 Python 程式設計</h6>
                            <div class="d-flex justify-content-between pb-1 border-bottom">
                              <div class="d-flex align-items-center">
                                <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                                <p>Kelly Hsu</p>
                              </div>
                              <div class="text-end">
                                <p class="text-primary-100 fw-semibold">NT$ 2,480</p>
                                <p class="fs-9 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                              </div>
                            </div>
                            <div class="d-flex align-items-center py-1 w-100">
                              <p class="fs-8">已有 420 位同學加入</p>
                              <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto">
                                star
                                </span>
                                <p class="text-black">4.0<span class="text-gray-70 fs-9">(333)</span></p>
                            </div>
                          </section>

                        </div>
                      </div>
                    </a></li>
                  </ul>
                </div>
               </div>
              </li>
            </li>
            <li class="nav-item">                    
                <form class="position-relative">
                  <span class="material-symbols-outlined position-absolute start-0 top-50 translate-middle-y ms-1">
                    search
                    </span>
                  <input class="form-control py-4 ps-8" type="search" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="Search">
                  <button class="btn btn-primary-100 position-absolute end-0 top-50 translate-middle-y me-1" type="submit">搜尋</button>
                </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <ul class="list-unstyled d-flex navbar-nav align-items-lg-center flex-row">
          <li class="nav-item ms-auto">
            <a class="nav-link text-gray-80" aria-current="page" href="#"><span class="material-symbols-outlined align-text-bottom">
              notifications
              </span></a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link text-gray-80" href="#"><span class="material-symbols-outlined align-text-bottom">
              shopping_cart
              </span></a>
          </li>
          <li class="nav-item ms-3 d-none d-xl-block">
            <button class="btn btn-primary-100" type="submit">登入 / 註冊</button>
          </li>
        </ul>
        <button class="navbar-toggler ms-1 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
</header>