.header{
  border-radius: 100px;
  box-shadow: 0px 2px 40px 0px #0068FF1A;
  @include mobile-larger{
    box-shadow: none;
  }
  &-logo{
    width: 200px;
  }
}
.form-control{
  width: 425px;
}
.dropdown-item{
  padding: 12px;
  padding-left: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  
  &::after {
    content: "\e5cc";
    font-family: "Material Symbols Outlined";
  }
  &:hover {
    background: $primary;
    color: $white;
    font-weight: bold;
    &::after {
      color: $white;
    }
  }


}
.dropdown{
  &-w{
    width: 863px;
  }
  &-list-1{
    width: 27%;
    padding: 12px;
    
  }
  &-list-2{
    width: 27%;
    padding: 12px;
  }
  &-list-3{
    width: 46%;
    padding: 12px 24px;
  }
}
.dropdown-item-title{
  padding: 12px;
  padding-left: 24px;
  margin-bottom: 8px;
}
.ca{
  width: 100px;
  height: 100px;
}

.material-symbols-outlined-fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
