<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>程式課程</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner-subject py-lg-10 py-7 img-flower-left">
      <div class="container img-flower-right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-lg-7 mb-3">
            <li class="breadcrumb-item"><a href="#">所有課程</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">程式課程</a></li>
          </ol>
        </nav>
        <h2 class="fs-lg-1 fs-3 text-black mb-7">程式課程</h2>
        <div class="d-flex justify-content-between align-items-center">
          <ul class="list-unstyled d-flex w-100 overflow m-0">
            <li><button type="button" class="btn btn-outline-primary-100 btn-nav-suject active me-1">所有程式</button></li>
            <li><button type="button" class="btn btn-outline-primary-100 btn-nav-suject me-1">網頁開發</button></li>
            <li><button type="button" class="btn btn-outline-primary-100 btn-nav-suject me-1">資料科學</button></li>
            <li><button type="button" class="btn btn-outline-primary-100 btn-nav-suject me-1">行動版開發</button></li>
            <li><button type="button" class="btn btn-outline-primary-100 btn-nav-suject me-1">程式語言</button></li>
            <li><button type="button" class="btn btn-outline-primary-100 btn-nav-suject me-1">遊戲開發</button></li>
            <li><button type="button" class="btn btn-outline-primary-100 btn-nav-suject me-1">資料庫設計與開發</button></li>
            <li><button type="button" class="btn btn-outline-primary-100 btn-nav-suject me-1">軟體測試</button></li>
            <li><button type="button" class="btn btn-outline-primary-100 btn-nav-suject me-1">軟體開發工具</button></li>
            <li><button type="button" class="btn btn-outline-primary-100 btn-nav-suject me-1">無程式碼開發</button></li>
          </ul>
          <div><a href="#"><span class="material-symbols-outlined">
            chevron_right
            </span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-lg pt-lg-7 pb-lg-10 py-7">
      <ul class="nav justify-content-start border-bottom">
        <li class="nav-item">
          <a class="nav-link nav-item-hover py-3" aria-current="page" href="#">最熱門</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-hover py-3" href="#">最新課程</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-item-hover py-3" href="#">話題最高</a>
        </li>
      </ul>
      <div class="position-relative">
        <div class="row row-cols-xl-4 row-cols-1 my-md-10 my-7">
          <div class="col mb-0">
            <div class="card border-0 shadows-card h-100">
              <div class="position-relative mb-3">
                <img src="/assets/images/course-5.png" class="card-img-top" alt="course">
                <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-3 ms-3 fs-8 fw-semibold">
                  限時 8 折 🔥
                </span>
              </div>
              
              <section class="px-3">
                <h6 class="text-black pb-3 fs-7 fs-lg-6">小白也會！從零開始學習 Python 程式設計</h6>
                <div class="d-flex justify-content-between pb-3 border-bottom">
                  <div class="d-flex align-items-center">
                    <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                    <p>Kelly Hsu</p>
                  </div>
                  <div class="text-end">
                    <p class="text-secondary fw-semibold fs-7 fs-lg-6">已購買</p>
                    <p class="fs-8 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                  </div>
                </div>
                <div class="d-flex align-items-center py-3 w-100">
                  <div>
                    <span class="badge rounded-pill bg-gray-40 fs-8 text-gray-80 px-2 mb-12">程式開發</span>
                    <p class="fs-8">已有 420 位同學加入</p>
                  </div>
                  <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto fs-7 me-12">
                    star
                    </span>
                    <p class="text-black fs-8">4.0<span class="text-gray-70 fs-8">(333)</span></p>
                </div>
              </section>
            </div>
          </div>
          <div class="col d-none d-xl-block">
            <div class="card border-0 shadows-card h-100">
              <div class="position-relative mb-3">
                <img src="/assets/images/course-1.png" class="card-img-top" alt="course">
                <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-3 ms-3 fs-8 fw-semibold">
                  限時 8 折 🔥
                </span>
              </div>
              
              <section class="px-3">
                <h6 class="text-black pb-3 fs-7 fs-lg-6">全面掌握 JavaScript 開發技術</h6>
                <div class="d-flex justify-content-between pb-3 border-bottom">
                  <div class="d-flex align-items-center">
                    <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                    <p>Kelly Hsu</p>
                  </div>
                  <div class="text-end">
                    <p class="text-secondary fw-semibold fs-7 fs-lg-6">已購買</p>
                    <p class="fs-8 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                  </div>
                </div>
                <div class="d-flex align-items-center py-3 w-100">
                  <div>
                    <span class="badge rounded-pill bg-gray-40 fs-8 text-gray-80 px-2 mb-12">程式開發</span>
                    <p class="fs-8">已有 420 位同學加入</p>
                  </div>
                  <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto fs-7 me-12">
                    star
                    </span>
                    <p class="text-black fs-8">4.0<span class="text-gray-70 fs-8">(333)</span></p>
                </div>
              </section>
            </div>
          </div>
          <div class="col d-none d-xl-block">
            <div class="card border-0 shadows-card h-100">
              <div class="position-relative mb-3">
                <img src="/assets/images/course-3.png" class="card-img-top" alt="course">
                <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-3 ms-3 fs-8 fw-semibold">
                  限時 8 折 🔥
                </span>
              </div>
              
              <section class="px-3">
                <h6 class="text-black pb-3 fs-7 fs-lg-6">HTML & CSS 網頁設計基礎教程</h6>
                <div class="d-flex justify-content-between pb-3 border-bottom">
                  <div class="d-flex align-items-center">
                    <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                    <p>Kelly Hsu</p>
                  </div>
                  <div class="text-end">
                    <p class="text-secondary fw-semibold fs-7 fs-lg-6">已購買</p>
                    <p class="fs-8 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                  </div>
                </div>
                <div class="d-flex align-items-center py-3 w-100">
                  <div>
                    <span class="badge rounded-pill bg-gray-40 fs-8 text-gray-80 px-2 mb-12">程式開發</span>
                    <p class="fs-8">已有 420 位同學加入</p>
                  </div>
                  <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto">
                    star
                    </span>
                    <p class="text-black fs-8">4.0<span class="text-gray-70 fs-8">(333)</span></p>
                </div>
              </section>
            </div>
          </div>
          <div class="col d-none d-xl-block">
            <div class="card border-0 shadows-card h-100">
              <div class="position-relative mb-3">
                <img src="/assets/images/course-4.png" class="card-img-top" alt="course">
                <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-3 ms-3 fs-8 fw-semibold">
                  限時 8 折 🔥
                </span>
              </div>
              
              <section class="px-3">
                <h6 class="text-black pb-3 fs-7 fs-lg-6">更進一步！深入學習 Node.js 與後端開發</h6>
                <div class="d-flex justify-content-between pb-3 border-bottom">
                  <div class="d-flex align-items-center">
                    <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                    <p>Kelly Hsu</p>
                  </div>
                  <div class="text-end">
                    <p class="text-secondary fw-semibold fs-7 fs-lg-6">已購買</p>
                    <p class="fs-8 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                  </div>
                </div>
                <div class="d-flex align-items-center py-3 w-100">
                  <div>
                    <span class="badge rounded-pill bg-gray-40 fs-8 text-gray-80 px-2 mb-12">程式開發</span>
                    <p class="fs-8">已有 420 位同學加入</p>
                  </div>
                  <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto">
                    star
                    </span>
                    <p class="text-black fs-8">4.0<span class="text-gray-70 fs-8">(333)</span></p>
                </div>
              </section>
            </div>
          </div>
        </div>
        <a class="btn btn-primary btn-arrow-back btn-arrow position-absolute top-50 start-0 translate-middle d-none d-xl-block" href="#" role="button"></a>
        <a class="btn btn-primary btn-arrow-forward btn-arrow position-absolute top-50 start-100 translate-middle d-none d-xl-block" href="#" role="button"></a>
      </div>
      <section>
        <div class="d-flex align-items-center justify-content-between mb-lg-7 mb-8">
          <h3 class="text-black fs-md-2 fs-5">熱門主題</h3>
          <div>
            <a class="btn-arrow-back fs-7 p1 me-5" href="#" role="button"></a>
            <a class="btn-arrow-forward fs-7 p1 " href="#" role="button"></a>
          </div>
        </div>
        <div>
          <ul class="list-unstyled d-flex overflow-hidden">
            <li class="me-lg-5 me-3">
              <button type="button" class="btn btn-outline-secondary py-5 px-8 border-gray-40 h-100">
              <p class="fs-7 fw-semibold text-black">HTML 5<br><span class="fs-6 fw-normal">2,103 個課程</span></p>
              </button>
            </li>
            <li class="me-lg-5 me-3">
              <button type="button" class="btn btn-outline-secondary py-5 px-8 border-gray-40 h-100">
              <p class="fs-7 fw-semibold text-black">Javascript<br><span class="fs-6 fw-normal">891 個課程</span></p>
              </button>
            </li>
            <li class="me-lg-5 me-3">
              <button type="button" class="btn btn-outline-secondary py-5 px-8 border-gray-40 h-100">
              <p class="fs-7 fw-semibold text-black">Python<br><span class="fs-6 fw-normal">1,384 個課程</span></p>
              </button>
            </li>
            <li class="me-lg-5 me-3">
              <button type="button" class="btn btn-outline-secondary py-5 px-8 border-gray-40 h-100">
              <p class="fs-7 fw-semibold text-black">CSS 3<br><span class="fs-6 fw-normal">240 個課程</span></p>
              </button>
            </li>
            <li class="me-lg-5 me-3">
              <button type="button" class="btn btn-outline-secondary py-5 px-8 border-gray-40 h-100">
              <p class="fs-7 fw-semibold text-black">HTML 5<br><span class="fs-6 fw-normal">2,103 個課程</span></p>
              </button>
            </li>
            <li class="me-lg-5 me-3">
              <button type="button" class="btn btn-outline-secondary py-5 px-8 border-gray-40 h-100">
              <p class="fs-7 fw-semibold text-black">HTML 5<br><span class="fs-6 fw-normal">2,103 個課程</span></p>
              </button>
            </li>
          </ul>
        </div>

      </section>
      
    </div>

    <section class="bg-gray-10 py-lg-10 py-7">
      <div class="container">
        <h2 class="text-center mb-7">程式頂尖講師</h2>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1">
          <div class="col mb-5 mb-lg-0">
            <div class="card border-gray-40">
              <img src="/assets/images/teacher-4.png" class="rounded-top" alt="teacher">
              <div class="card-body text-center py-0">
                <p class=" fw-semibold text-black py-3 border-bottom">Devon Lane<br><span class="fs-8 fw-normal">自由接案工程師</span></p>
                <div class="d-flex align-items-center py-3 w-100">
                  <div>
                    <p class="fs-8">3,394 個學生</p>
                  </div>
                  <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto fs-7 me-12">
                    star
                    </span>
                    <p class="text-black fs-8 fw-medium">4.0<span class="text-gray-70 fs-8 fw-medium">(333)</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5 mb-lg-0">
            <div class="card border-gray-40">
              <img src="/assets/images/teacher-5.png" class="card-img-top" alt="teacher">
              <div class="card-body text-center py-0">
                <p class=" fw-semibold text-black py-3 border-bottom">Johnny Khan<br><span class="fs-8 fw-normal">資深全端工程師</span></p>
                <div class="d-flex align-items-center py-3 w-100">
                  <div>
                    <p class="fs-8">3,394 個學生</p>
                  </div>
                  <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto">
                    star
                    </span>
                    <p class="text-black fs-8 fw-medium">4.0<span class="text-gray-70 fs-8 fw-medium">(333)</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5 mb-lg-0">
            <div class="card border-gray-40">
              <img src="/assets/images/teacher-6.png" class="card-img-top" alt="teacher">
              <div class="card-body text-center py-0">
                <p class=" fw-semibold text-black py-3 border-bottom">Devon Lane<br><span class="fs-8 fw-normal">矽谷軟體工程師</span></p>
                <div class="d-flex align-items-center py-3 w-100">
                  <div>
                    <p class="fs-8">3,394 個學生</p>
                  </div>
                  <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto">
                    star
                    </span>
                    <p class="text-black fs-8 fw-medium">4.0<span class="text-gray-70 fs-8 fw-medium">(333)</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5 mb-lg-0">
            <div class="card border-gray-40">
              <img src="/assets/images/teacher-7.png" class="card-img-top" alt="teacher">
              <div class="card-body text-center py-0">
                <p class=" fw-semibold text-black py-3 border-bottom">Annie Lin<br><span class="fs-8 fw-normal">資深前端工程師</span></p>
                <div class="d-flex align-items-center py-3 w-100">
                  <div>
                    <p class="fs-8">3,394 個學生</p>
                  </div>
                  <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto">
                    star
                    </span>
                    <p class="text-black fs-8 fw-medium">4.0<span class="text-gray-70 fs-8 fw-medium">(333)</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <main class="container pb-10 pt-lg-10 pt-7">
      <div class="d-lg-flex justify-content-between mb-7">
        <h4 class="fs-2 text-black mb-2 mb-lg-0">查看 520 筆與「<span class="text-primary-100">程式開發</span>」的相關課程</h4>
        <ul class="nav border-bottom">
          <li class="nav-item">
            <a class="nav-link nav-item-hover" aria-current="page" href="#">最熱門</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item-hover" href="#">最新課程</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item-hover" href="#">話題最高</a>
          </li>
        </ul>
      </div>
      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1">
        <div class="col mb-5 mb-lg-0">
          <div class="border-0 shadows-card d-flex d-md-block h-100">
            <div class="position-relative mb-3">
              <img src="/assets/images/course-5.png" class="card-img-top card-img-top-rounded" alt="course">
              <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-3 ms-3 fs-8 fw-semibold">
                限時 8 折 🔥
              </span>
            </div>            
            <section class="px-3">
              <h6 class="text-black pb-3 fs-7 fs-lg-6">小白也會！從零開始學習 Python 程式設計</h6>
              <div class="d-flex justify-content-between pb-3 border-bottom">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                  <p>Kelly Hsu</p>
                </div>
                <div class="text-end">
                  <p class="text-secondary fw-semibold fs-7 fs-lg-6">已購買</p>
                  <p class="fs-8 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                </div>
              </div>
              <div class="d-flex align-items-center py-3 w-100">
                <div>
                  <span class="badge rounded-pill bg-gray-40 fs-8 text-gray-80 px-2 mb-12">程式開發</span>
                  <p class="fs-8">已有 420 位同學加入</p>
                </div>
                <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto fs-7 me-12">
                  star
                  </span>
                  <p class="text-black fs-8">4.0<span class="text-gray-70 fs-8">(333)</span></p>
              </div>
            </section>
          </div>
        </div>
        <div class="col mb-5 mb-lg-0">
          <div class="border-0 shadows-card d-flex d-md-block h-100">
            <div class="position-relative mb-3">
              <img src="/assets/images/course-6.png" class="card-img-top card-img-top-rounded" alt="course">
              <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-3 ms-3 fs-8 fw-semibold">
                限時 8 折 🔥
              </span>
            </div>            
            <section class="px-3">
              <h6 class="text-black pb-3 fs-7 fs-lg-6">全面掌握 JavaScript 開發技術</h6>
              <div class="d-flex justify-content-between pb-3 border-bottom">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                  <p>Kelly Hsu</p>
                </div>
                <div class="text-end">
                  <p class="text-secondary fw-semibold fs-7 fs-lg-6">已購買</p>
                  <p class="fs-8 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                </div>
              </div>
              <div class="d-flex align-items-center py-3 w-100">
                <div>
                  <span class="badge rounded-pill bg-gray-40 fs-8 text-gray-80 px-2 mb-12">程式開發</span>
                  <p class="fs-8">已有 420 位同學加入</p>
                </div>
                <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto  fs-7 me-12">
                  star
                  </span>
                  <p class="text-black fs-8">4.0<span class="text-gray-70 fs-8">(333)</span></p>
              </div>
            </section>
          </div>
        </div>
        <div class="col mb-5 mb-lg-0">
          <div class="border-0 shadows-card d-flex d-md-block h-100">
            <div class="position-relative mb-3">
              <img src="/assets/images/course-7.png" class="card-img-top card-img-top-rounded" alt="course">
              <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-3 ms-3 fs-8 fw-semibold">
                限時 8 折 🔥
              </span>
            </div>            
            <section class="px-3">
              <h6 class="text-black pb-3 fs-7 fs-lg-6">HTML & CSS 網頁設計基礎教程</h6>
              <div class="d-flex justify-content-between pb-3 border-bottom">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                  <p>Kelly Hsu</p>
                </div>
                <div class="text-end">
                  <p class="text-secondary fw-semibold fs-7 fs-lg-6">已購買</p>
                  <p class="fs-8 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                </div>
              </div>
              <div class="d-flex align-items-center py-3 w-100">
                <div>
                  <span class="badge rounded-pill bg-gray-40 fs-8 text-gray-80 px-2 mb-12">程式開發</span>
                  <p class="fs-8">已有 420 位同學加入</p>
                </div>
                <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto  fs-7 me-12">
                  star
                  </span>
                  <p class="text-black fs-8">4.0<span class="text-gray-70 fs-8">(333)</span></p>
              </div>
            </section>
          </div>
        </div>
        <div class="col mb-5 mb-lg-0">
          <div class="border-0 shadows-card d-flex d-md-block h-100">
            <div class="position-relative mb-3">
              <img src="/assets/images/course-8.png" class="card-img-top card-img-top-rounded" alt="course">
              <span class="position-absolute top-0 start-0 badge rounded-pill bg-alers-10 text-alers-100 mt-3 ms-3 fs-8 fw-semibold">
                限時 8 折 🔥
              </span>
            </div>            
            <section class="px-3">
              <h6 class="text-black pb-3 fs-7 fs-lg-6">更進一步！深入學習 Node.js 與後端開發</h6>
              <div class="d-flex justify-content-between pb-3 border-bottom">
                <div class="d-flex align-items-center">
                  <img src="/assets/images/avatar-2.png" alt="avatar" class="pe-1">
                  <p>Kelly Hsu</p>
                </div>
                <div class="text-end">
                  <p class="text-secondary fw-semibold fs-7 fs-lg-6">已購買</p>
                  <p class="fs-8 text-gray-70 text-decoration-line-through">NT$ 3,200</p>
                </div>
              </div>
              <div class="d-flex align-items-center py-3 w-100">
                <div>
                  <span class="badge rounded-pill bg-gray-40 fs-8 text-gray-80 px-2 mb-12">程式開發</span>
                  <p class="fs-8">已有 420 位同學加入</p>
                </div>
                <span class="material-symbols-outlined text-warning material-symbols-outlined-fill ms-auto  fs-7 me-12">
                  star
                  </span>
                  <p class="text-black fs-8">4.0<span class="text-gray-70 fs-8">(333)</span></p>
              </div>
            </section>
          </div>
        </div>
      </div>
      <nav aria-label="..." class="d-flex justify-content-md-end justify-content-center mt-7">
        <ul class="pagination">
          <li class="page-item disabled me-1">
            <a class="page-link text-gray-80 rounded-2"><span class="material-symbols-outlined">
              chevron_left
              </span></a>
          </li>
          <li class="page-item me-1"><a class="page-link text-gray-80 h-100 px-3 py-1 rounded-2" href="#">1</a></li>
          <li class="page-item active me-1" aria-current="page">
            <a class="page-link text-white h-100 px-3 py-1 rounded-2" href="#">2</a>
          </li>
          <li class="page-item me-1"><a class="page-link text-gray-80 h-100 px-3 py-1 rounded-2" href="#">3</a></li>
          <li class="page-item me-1"><a class="page-link text-gray-80 h-100 px-3 py-1 rounded-2" href="#">...</a></li>
          <li class="page-item me-1"><a class="page-link text-gray-80 h-100 px-3 py-1 rounded-2" href="#">10</a></li>
          <li class="page-item me-1">
            <a class="page-link text-gray-80 rounded-2" href="#"><span class="material-symbols-outlined">
              chevron_right
              </span></a>
          </li>
        </ul>
      </nav>
    </main>

    <div class="rounded-3 bg-primary-100 py-10 my-11" style="max-width: 1656px;margin: 0 auto;">
      <div class="container-lg">
        <div class="row d-flex align-items-center flex-column-reverse flex-xl-row row-cols-xl-2 row-cols-1">
          <div class="col">
            <div class="row row-cols-2">
              <div class="col mb-2">
                <div class="d-flex align-items-center p-4 bg-white rounded-1 w-100">
                  <div class="icon-1 me-5"></div>
                  <h6 class="text-black">網路行銷<br><span class="d-block mt-1 fs-8 fw-normal">342 門課程</span></h6>
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex align-items-center p-4 bg-white rounded-1 w-100">
                  <div class="icon-2 me-5"></div>
                  <h6 class="text-black">拍攝剪輯<br><span class="d-block mt-1 fs-8 fw-normal">563 門課程</span></h6>
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex align-items-center p-4 bg-white rounded-1 w-100">
                  <div class="icon-3 me-5"></div>
                  <h6 class="text-black">自我成長<br><span class="d-block mt-1 fs-8 fw-normal">342 門課程</span></h6>
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex align-items-center p-4 bg-white rounded-1 w-100">
                  <div class="icon-4 me-5"></div>
                  <h6 class="text-black">藝術設計<br><span class="d-block mt-1 fs-8 fw-normal">342 門課程</span></h6>
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex align-items-center p-4 bg-white rounded-1 w-100">
                  <div class="icon-5 me-5"></div>
                  <h6 class="text-black">數據分析<br><span class="d-block mt-1 fs-8 fw-normal">342 門課程</span></h6>
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex align-items-center p-4 bg-white rounded-1 w-100">
                  <div class="icon-6 me-5"></div>
                  <h6 class="text-black">投資理財<br><span class="d-block mt-1 fs-8 fw-normal">342 門課程</span></h6>
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex align-items-center p-4 bg-white rounded-1 w-100">
                  <div class="icon-7 me-5"></div>
                  <h6 class="text-black">音樂創作<br><span class="d-block mt-1 fs-8 fw-normal">342 門課程</span></h6>
                </div>
              </div>
              <div class="col mb-2">
                <div class="d-flex align-items-center p-4 bg-white rounded-1 w-100">
                  <div class="icon-8 me-5"></div>
                  <h6 class="text-black">探索更多</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-center">
            <h4 class="fs-1 text-white h"><span class="img-flower-title">想學什麼嗎？</span><br><span class="img-flower-title2">一探究竟。</span></h4>
          </div>
        </div>
      </div>
    </div>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
